.App {
  text-align: center;
  padding: 20px;
}

.Card-App {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 280px;
  
}

.Card-App .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.Card-App .card-body {
  padding: 5rem;
}